.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

nav ul {
  list-style-type:none;
  margin: 0;
  padding:0;
  color:purple;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.ice-cream-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ice-cream-item {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.img-container img {
  width: 100%;
  height: auto;
  background-color:black;
}

.review-order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-item {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.total-cost {
  margin-top: 20px;
}
.ice-cream-container{
  background-image: url("D:\REACT\pro\pro\public\col3.png");
  background-size:cover;
  background-position: left;
}
.review-order-container{
  background-color:coral;
}
.review-item{
  color:darkred;
}
.app-container{
  color:darkred;
}

.total-cost{
  background-color:rgba(227, 230, 128, 0.662);
  background-position:100px;
}
